
html, body {
  height: 100%;
  width: 100%;
  /* margin : 0; */
  text-align: center;
  background-color: #08d9d6;
  background-image: url('../images/Header-background1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

p {
  color: #fff;
}

h3{
  color: #fff;
}

h5{
  color: #fff;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.transition {
  -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.first-container {
  height: 100%;
  width: 100%;
}

.title-container{
  position: relative;
  top: 45%;
}

.title {
  color: #fff;
}

.second-container{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #252a34;
  position: relative;
}


.about-me{
  padding-left: 15%;
  text-align: left;
}

.myface{
  padding-right: 15%;
  vertical-align: middle;
  text-align: center;
}

.myfaceimg{
  height: 500px;
  width: auto;
}

.third-container{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #252a34;
  position: relative;
}

.CalgaryHacks{
  padding-left: 15%;
  vertical-align: middle;
  text-align: center;
}
.ch-img{
  height: 400px;
  width: auto;
}

.Programming-info{
  padding-right: 15%;
  text-align: left;
}

.projects{
  background-color: white;
  background-color: rgba(0,0,0,0);
}

.aboutproj{
  margin-bottom: 10px;
}

.project1{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #252a34;
  background-color: rgba(15,16,20,0.5);
}

.img-container1{
  width: 100%;
  height: 250px;
}

.yyc-adv{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.EduConnect{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.WoodWork{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Contact-me{
  background-color: #252a34;
  background-color: rgba(15,16,20,0.5);
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 10px;
}

.fa-envelope:hover {
  color: orange;
}

.fa-linkedin:hover {
  color: orange;
}

.fa-github:hover {
  color: orange;
}

.copyright{
  background-color: #252a34;
}
@media (max-width: 920px) {
  .myfaceimg{
    height: 300px;
    width: auto;
  }

  .ch-img{
    height: 300px;
    width: auto;
  }
}
@media (max-width: 767px) {
  .about-me {
    padding-left: 40px;
    padding-right: 40px;
  }

  .myface{
    padding-right: 0;
  }

  .CalgaryHacks{
    padding-left: 0;
  }

  .Programming-info{
    padding: 10px 40px 10px 40px;
  }
}
